$grey:#B1B4A7;
$yellow:#F1E166;
$red:#d65c49;
$blue:#788389;
$brown:#D3BD90;
$green:#859482;
$orange:#F1BC66;
$purple:#7A6577;
$black:#444;
$white:#ececec;

$border:$white;
$text:$black;
$header:$black;
$quote:$yellow;
$quotetext:$black;
$main:$grey;
$footer:$black;
