// reset
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote, pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt, dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article, aside, canvas, details,figcaption,figure,footer,header,hgroup,menu,nav,section, summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;line-height:1;}

// html5 elements
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary{display:block;}

// standard elements
h1{font-size:2.4em;}h2{font-size:2em;}h3{font-size:1.6em;}
h4{font-size:1.4em;}h5{font-size:1.2em;}h6{font-size:1em;}
p{font-size:1em;line-height:1.6;margin:0 0 1em}
small{font-size:90%;}
ul,ol{padding:0 2em;}
li{font-size:1em;line-height:1.6;}
