@mixin clearfix{
  _height: 1%;
  *min-height:1px;
  zoom:1;
  &:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }
}

@mixin zero{
  margin: 0;
  padding: 0;
}

@mixin grid{
  @include clearfix;
}

@mixin col($width:1,$total:12,$padding:0,$margin:0,$left:0,$right:0){
  float:left;
  margin-left:$margin*1%;
  padding:10px $padding*1%;
  width: $width*100%/$total;
  margin-left:$left*100%/$total;
  margin-right:$right*100%/$total;
}

@mixin headings($color:white){
    color:$color;
    font-weight:bold;
    font-family: $headingfont;
    text-transform: uppercase;
    letter-spacing:0.1em;
    line-height:1;
    margin: 0 0 0.2em;
}

@mixin links($color:white,$hovercolor:red,$background:$color){
a,a:link,a:visited{
  text-decoration: underline;
  text-shadow: none;
  color:$color;
    &:hover{
      background: $background;
      color:$hovercolor;
    }
  }
}

@mixin text($color: $text){
color:$color;
font-size:1.4em;
font-weight: bold;
}
