// Landscape phones and down
@media screen and (max-width: 480px) {
  #main{
    .content,.sidebar{width:100%;float:none;}
    h1{font-size:2.6em;}
    h2{font-size:2em;}
    p,li{font-size:1.1em;}
    form label{font-size:1.1em;}
    form textarea{width:90%;}
  }
  #banner{
    padding:20px 2px;
    blockquote{font-size: 2em;}
    cite{font-size: 1.1em;}
  }
  .sidebar,#contact{margin-top: 40px;}
}

// Landscape phone to portrait tablet
@media screen and (max-width: 768px) { body{
  max-width: 768px;width:auto;margin:0;} 
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {  }

// Large desktop
@media (min-width: 1200px) {  }
