$normalfont: "Courier New", "Nimbus Mono L", Monospace;
$headingfont: Abel,"Liberation Sans",Helvetica ,Arial, "Nimbus Sans L", FreeSans, Sans-serif;
$basefontsize: 13px;
$thickness:6px;
$width: 90%;
$mainwidth: 62%;
$sidebarwidth: 32%;

//colors
$olive:#6C7360;
$grey:#A1A794;
$yellow:#F1E166;
$red:#d65c49;
$blue:#788389;
$brown:#D3BD90;
$green:#859482;
$orange:#F1BC66;
$purple:#7A6577;
$black:#444;
$white:#ececec;

$brightyellow:#F1DC3A;
$brightorange:#F6A523;
$brightblack:#222;

$border:$white;
$text:$black;
$html:$olive;
$header:$black;
$banner:$yellow;
$quotetext:$black;
$main:$grey;
$footer:$black;
